.banner {
    height: 100vh;
    width: 100%;
    background: url('/vishbanner.png');
    background-repeat: no-repeat;
    background-size: cover;
}    

@media screen and (max-width: 600px) {
    .banner {
        height: 100vh;
        background: url('/vishbannerphone.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
